<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/javascripts/sort.js"></script>
    <title>Task Manager</title>
</head>
<body>
<% if (isDev) { %>
    <div style="font-weight: bold; color: red;">***DEV***</div>
<% } %>
<h2>Task Manager</h2>
<%
const currentTime = new Date();
const diffMs = currentTime - serverStartTime;
const diffHours = Math.floor(diffMs / (1000 * 60 * 60));
const diffMinutes = Math.floor((diffMs / (1000 * 60)) % 60);
%>
<p>Server started at <%= serverStartTime.toLocaleString() %> (<%= diffHours %>h <%= diffMinutes %>m ago)</p>
<div class="add-task-form">
    <form action="/add-task" method="POST">
        <label for="taskName">Add Task:</label>
        <input type="text" id="taskName" name="taskName" required>
        <button type="submit">Add</button>
    </form>
</div>

<main>
    <% sections.forEach(section => { %>
        <section>
            <h2><%= section.title %></h2>
            <table id="<%= section.title.split(' ').join('-') %>">
                <thead>
                <tr>
                    <th onclick="sortTable(0, '<%= section.title.split(' ').join('-') %>')">ID</th>
                    <th onclick="sortTable(1, '<%= section.title.split(' ').join('-') %>')">Task</th>
                    <th onclick="sortTable(2, '<%= section.title.split(' ').join('-') %>')">Class</th>
                    <th onclick="sortTable(3, '<%= section.title.split(' ').join('-') %>')">Date Added</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% tasks.filter(section.filter).forEach(task => { %>
                    <%- include('partials/taskRow', { task }) %>
                <% }) %>
                </tbody>
            </table>
        </section>
    <% }) %>
</main>
</body>
</html>
